
.certifications {
  min-height: 100vh;
  background: linear-gradient(to right, #020617, #0f172a);
  color: white;
  padding: 80px 40px;
}

.certifications-container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.certifications-container h2 {
  color: whitesmoke;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.certifications-container h1 {
  font-size: 55px;
  margin-bottom: 20px;
}

.certifications-container p {
  color: #cbd5e1;
  font-size: 25px;
  line-height: 1.8;
  margin-bottom: 50px;
}

.certificate-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.certificate-card {
  background: #111c44;
  padding: 35px 20px;
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.certificate-card:hover {
  transform: translateY(-10px);
  background:  #8b5cf6;
}

.certificate-icon {
  font-size: 45px;
  margin-bottom: 20px;
}

.certificate-card h2 {
  font-size: 22px;
  margin-bottom: 12px;
}

.certificate-card p {
  font-size: 16px;
  color: #e2e8f0;
  margin: 0;
}

