.home{
    height:85vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    margin-top:-40px;
}




.home img{
    width:450px;
    height:450px;

    border-radius:50%;
    object-fit:cover;

    border:5px solid #38BDF8;

    margin-bottom:25px;
}




.home h1{
    color:white;
    font-size:55px;

    margin-bottom:20px;
}

.home h2{
    color:#38BDF8;

    margin-bottom:30px;

    font-size:32px;
}

.home p{
    color:#CBD5E1;

    width:700px;

    line-height:1.8;

    font-size:25px;

    margin-bottom:30px;
    font-family: 'Inter', sans-serif;
}




.home button{
    background-color: #2585eb;
    color: white;
    padding: 14px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.home  button:hover{
    background-color: #1d4ed8;
    transform: scale(1.05);
}
/* your normal css above */

.navbar {
  display: flex;
}

.hero-image img {
  width: 350px;
  height: 350px;
}

/* ADD THIS AT THE END */
/* TABLET RESPONSIVE */

@media (max-width: 1000px){

  .home{
    padding: 40px;
    gap: 40px;
  }

  .home img{
    width: 200px;
    height: 200px;
  }

  .content h1{
    font-size: 55px;
  }

  .content h2{
    font-size: 32px;
  }

  .content p{
    font-size: 20px;
  }
}

/* MOBILE RESPONSIVE */

@media (max-width: 768px){

  .home{
    flex-direction: column-reverse;
    text-align: center;
    padding: 30px 20px;
  }

  .home img{
    width: 230px;
    height: 230px;
  }

  .content h1{
    font-size: 42px;
  }

  .content h2{
    font-size: 26px;
  }

  .content p{
    font-size: 18px;
    line-height: 1.6;
  }

  .resume-btn{
    font-size: 16px;
    padding: 12px 24px;
  }
}